footer {
    height: 15rem;
    width: 100%;
    background-color: #6F7A58;
    color: #F2F2F2;
    text-align: center;
    i{
      font-size: 3rem;
      padding: 0.5rem;
    }
    a:hover{
      color: white;
    }
    @include media-breakpoint-up(lg) {
      h4{
        padding-top: 0.5rem;
      }
      hr{
        width: 80%;
        margin:  auto;
        border: #CAC1AF 0.1rem solid;
      }
      div{
        h3{
          padding-top: 1rem;
        }
        p{
            font-size: 1rem;
            line-height: 1rem;
        }
        i{
            font-size: 2rem;
              padding: 0.5rem;
          }
      }
    }

}