.progress-bar {
  flex-direction: row;
  background-color: transparent;
  color: #dee2e6;
  counter-reset: step;
  li {
    position: relative;
    font-size: 0.875rem;
    background-color:transparent;
    @include media-breakpoint-up(md) {
      font-size: 1rem;
    }
  }
  li.active, li.done {
    color: #9DA282 ;
  }
  li::before {
    content: counter(step);
    counter-increment: step;
    width: 45px;
    line-height: 40px;
    display: block;
    font-size: 20px;
    color: #e9ecef;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    margin: 0 auto 5px;
    background-color: #fff;
    z-index: 2;
    position: relative;
  }
  li.done::before {
    content: '✓';
  }
  li:first-child::after {
    content: none; 
  }
  li::after {
    content: '';
    width: 100%;
    height: 5px;
    background: #dee2e6;
    position: absolute;
    left: -50%;
    top: 20px;
    z-index: 1;
  }
  li.active::before, li.active::after, li.done::before, li.done::after {
    background: #9DA282 ;
    color: white;
    border: 2px solid #9DA282;
  }
} 