.about{
    min-height: 100vh;
}
.faq{
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
.faqinfo{
    margin-top: 2rem;
    margin-left: 2rem;
    // text-align: center;
    font-size: 2rem;
    li{
        margin-bottom: 1rem;
    }
}