.about{
    min-height: 100vh;
}
.faq{
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
.faqinfo{
    @include media-breakpoint-up(lg) {
        font-size: 2rem;
    }   
    margin-top: 2rem;
    margin-left: 2rem;
    li{
        margin-bottom: 1rem;
    }
}
