.homeview {
    background-color: #f2f2f2;
    scroll-behavior: smooth;
    div {
        width: 100%;
    }
}
.block_1 {
    background-image: url(/src/assets/imgs/homeview/homepageBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
    h1 {
        background-color: #f2f2f2;
        color: black;
        font-size: 10vw;
        font-weight: bold;
        margin: 0 auto;
        padding: 10px;
        width: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
        opacity: 0.7;
        border: 0.2rem solid #f2f2f2;
        border-spacing: 0.5rem;
    }
    section {
        font-size: large;
        color: #f2f2f2;
        padding-top: 80px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: sdb07 2s infinite;
            animation: sdb07 2s infinite;
            opacity: 0;
            box-sizing: border-box;
        }
        span:nth-of-type(1) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }
        span:nth-of-type(2) {
            top: 16px;
            -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
        }
        span:nth-of-type(3) {
            top: 32px;
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
    }

    @-webkit-keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes sdb07 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.block_2 {
    background-color: #ebe4dc;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.block_2Img {
    img {
        border-radius: 50%;
        height: 30rem;
        width: 30rem;
    }
}

.block_2Text {
    writing-mode: vertical-lr;
    font-size: 5rem;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .text {
        animation: showup 3s;
        span {
            animation: slidein 3.5s;
        }
    }
}
@keyframes showup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
        margin-top: -5rem;
    }
    50% {
        opacity: 0;
        margin-top: -3rem;
    }
    70% {
        opacity: 0.5;
        margin-top: 0rem;
    }
    100% {
        margin-top: 0rem;
    }
}
.block_3 {
    background-image: url(/src/assets/imgs/homeview/homepageBG3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
    h1 {
        text-align: center;
        color: #000;
    }
}
.block_4 {
    background-image: url(/src/assets/imgs/homeview/teaGarden-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
}
