* {
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #f2f2f2;
}
a {
  text-decoration: none
}
ul {
  list-style: none;
  padding: 0;
}
.btn:focus {
  box-shadow: none;
}
.btn:disabled{
  cursor: not-allowed;
}
.viewbody{
  min-height: 100vh;
}
.myBtn{
  background-color: #9DA282;
  color: white;
  &:hover{
      background-color: #B7BD96;
      color: black;
    }
}

.countNumber {
  margin: 0 auto;
    .add,
    .minus,
    .productNumber {
      padding: 4px 10px;
      border: 1px solid black;
    }
  
    .add:hover,
    .minus:hover {
      color: black;
      border-color: black;
    }
  
    .add {
      border-radius: 0 3px 3px 0;
    }
  
    .minus {
      border-radius: 3px 0 0 3px;
    }
  
    .productNumber {
      text-align: center;
      width: 15%;
      min-width: 68px;
      -webkit-appearance: none;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  
  }